@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Playfair+Display:wght@500&display=swap");

* {
  margin-top: 0px;
  background-color: none;
}

body {
  background-color: rgb(236, 236, 224);

}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-content: center; */
  padding-top: 5px;
  z-index: 100;
  background-color: rgb(253, 253, 253);
}

.brand_name {
  font-family: "Playfair Display", serif;
}
#brand_name {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  padding-left: 10px;
}
.nav-bar .left {
  padding-left: 10px;
}
.nav-bar .right {
  margin-top:-15px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 15px;
}
.nav-item {
  margin-right: 15px;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
.nav-item a:hover {
  color: grey;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: small;
  margin-top:auto;
  padding-bottom: 10px;
  background-color:  rgb(253, 253, 253);
}
.our-story {
  padding-left: 50px;
  width: 60%;
}
.footer-sections {
  display: flex;
  list-style-type: none;
}
.footer-sections li {
  padding-left: 15px;
}
.copywright {
  margin-left: 470px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /* width: 100%; */
  z-index: 10000;
}

#basket-qty {
  position: absolute;
  right:25px;
  top: 6px;
  background-color: rgb(236, 236, 224);
  color:rgb(0, 0, 0);
  font-size: small;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
}
.bi.bi-cart3{
  margin-top: -5px;
}


/* 
  */

a {
  text-decoration: none;
}
#popUp {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 222;
  max-width: 350px;
  height: 225px;
  background: rgb(143, 111, 111);
  border: 7px solid rgb(255, 255, 255);
  margin-left: -525px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#new span {
  background: rgb(159, 158, 158);
  position: absolute;
  color: #2f3538;
  border: 1.7px solid white;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: -5px;
}

#popUp .close {
  color: black;
  background: transparent;
  right: 8px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

#popUp h2 {
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: transparent;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

/* #body {
    height: 1200px;
    background: #eee;
  } */

a.button {
  margin: 0 auto;
  text-align: center;
  right: 0;
  left: 0;
  top: 165px;
  position: absolute;
  width: 120px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #ffffff;
  background: #baa895;
  border-radius: 4px;
  padding: 8px 0;
}

@media all and (max-width: 900px) {
  #popUp {
    margin-left: -425px;
  }
  #plus {
    margin-left: 0px;
  }
}
.sale-offer-notification {
  padding: 5px 5px;
  margin-left: 0px;
  /* cursor: pointer;
      font-family: "Montserrat", sans-serif; */
  font-size: 20px;
  position: fixed;
  z-index: 1000;
  top: 80%;
}
.sale-offer-notification {
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 50px;
  width: 10rem;
  overflow: hidden;
  transition: transform 500ms ease;
  -webkit-transition: all 1.25s ease;
  -moz-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  transition: all 1.25s ease;
  cursor: pointer;
}

/*  */
@media only screen and (max-width:600px) {
  /* body{
    max-width: 100vw;
  } */
  #brand_name{font-size: 18px; padding-left: 8px;}
  .nav-bar{
    height: 50px;
    align-items:center;
  }
  .nav-bar.left{
    padding-left: 0px;
    height: 10px;
  }
  .nav-bar.right{
    margin: 0;
    height: 10px;
  }
  .nav-bar.right svg{
    height: 20px;
    width: 20px;
  }
  .nav-bar.right span{
    font-size: 10px;
  }
  .nav-item{
    margin-right: 6px;
  }
  .nav-sections{
    font-size:10px;
    padding: 0;
  }
  .footer{
    padding-top: 5px;
    padding-bottom: 2px;
  }
  .our-story {
  padding-left: 10px;
  width: 60%;
}
.our-story p{
  font-size: smaller;
}
.footer-sections li {
  padding-left: 5px;
}
.copywright {
  margin-left: 180px;
}
#content{
 margin-top: 30px;
}
#basket-qty {
  right:6px;
}
}
