{% extends "./base.html"%}
{% load static%}
{%block title %}ClothingStore{% endblock %}

{% block content%}
<main>
  <div class="slider">
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img src="{% static 'images/ZANEROBE-3-4-Puffer-Home_2700x.jpg' %}" alt="image2"/>
      <div class="slider__description">
        <h1>Slide Two</h1>
        <p>
          Lorem 
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <input type="radio" name="slider" checked />
    <div class="slider__content">
      <img src="{% static 'images/MAINBANNER-Flec-Knit_2700x.jpg' %}" alt="image" />
      <div class="slider__description">
        <h1>Slide One</h1>
        <p>
          Lorem 
        </p>
        <a href="#">Read more</a>
      </div>
    </div>
    <input type="radio" name="slider" />
    <div class="slider__content">
      <img src="{% static 'images/ZANEROBE-Powells-Puffer-Home_75042ab0-9a62-4e63-adb1-114d0a45ad35_2700x.jpg' %}" alt="image3" />
      <div class="slider__description">
        <h1>Slide Three</h1>
        <p>
          Lorem 
        </p>
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
    
    <div class="outer-container">
  
      <div class="h5">"Fashions fade, style is eternal." —<i>Yves Saint Laurent</i></div>
        <div class="main-container">
  
          {% for c in categories %}
  
          <div class="categories-container">
            <div class="categories-list">
              <img class="img"  alt="Responsive image" src="{{ c.category_image.url }}">
              <div class="custom-card-body" >
                <p class="custom-card-text" >
                  <a class="text-dark text-decoration-none" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                </p>
                {% comment %} <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">9min read</small>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
  
          {% endfor %}
  
        </div>

        
          
        
      </div>
    </div>
    

  
  </main>
  

{% endblock %}